.alert-wrapper {
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    .alert-error {
        color: #d20808;
        background-color: #f89c9c;
        border-color: #c3e6cb;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}

.msg-error {
    color: #f00;
    font-size: 12px;
}

.mr-3 {
    margin-right: 1rem;
}

.content-area, .search-hotel-name {
    width: 97%;
}

.mobile-menu {
    position: relative;

    .menu-toggle {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        max-height: 0;
        background-color: #444;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        opacity: 0;

        &.open {
            max-height: 200px;
            opacity: 1;
        }

        li {
            border-bottom: 1px solid #555;

            &:last-child {
                border-bottom: none;
            }
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px;
            display: block;

            &:hover {
                background-color: #555;
            }
        }
    }
}

form {
    max-width: 100%;
}

/* PC */
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .admin-menu {
        display: block;
    }
}

/* SP */
@media (max-width: 767px) {
    .mobile-menu {
        display: block;
    }

    .admin-menu {
        display: none;
    }

    h2.title, 
    .search-hotel-name {
        padding-left: 0;
    }

    .search-hotel-name {
        padding-left: 15px;
        padding-right: 15px;
    }
}
